<div class="col-10 offset-1 about">
   
   <h1>About Splurty</h1>
<br />
  <p>
    This iteration of Splurty was Built by <a target="_blank" href="https://github.com/Adpbonar"> Devan Potter-Bonar</a> as part of his participation in the U of T Coding Bootcamp. 
  </p>
  <p>
    If you want to learn to code, like I did, - start <a href="https://online.bootcampspot.com">here</a>.
  </p>
  <br />
  <hr />
  <br />

  <div class="row">
    <div class="col-12 col-sm-4" style="padding top: 30px;">
      <%= image_tag 'Devan.png', class: 'img-fluid, devan' %>
    </div>
  
  <div class="col-12 col-sm-7 offset-sm-1">
    <h2 class="text-center">Devan Potter-Bonar</h2>
    <br />
    <p>
    After having worked in retail environments and assisting the Bonar Institute as Director, Operations & Administration, I decided that it was time to take the plunge and turn the work that I was doing for the Bonar Institute into a full-time career.
    </p>
    </div>
  </div>
</div>
<br class="clear" />
<br />
<br />
<br />
<br />